extends layout

block content
  h1.centered= title
  form.centered(action='#' method='get')
    div.left
      p
        label(for='departure') Departure City
      p
        select#departure
          option(value='New York') New York
          option(value='Chicago') Chicago
          option(value='Los Angeles') Los Angeles
    div.right
        p
          label(for='arrival') Arrival City
        p
          select#arrival
            option(value='New York') New York
            option(value='Chicago') Chicago
            option(value='Los Angeles') Los Angeles
    p
      label(for='bags') Number of checked Bags ($25 / bag)    
    p
      input#bags(type='number' name='bags')
    p
      label(for='class') Class
    p
      select#class
        option(value='coach') Coach
        option(value='business') Business (+ $200)
        option(value='first') First (+ $500)
    p
      input#wifi(type='checkbox' name='wifi')
      label(for='wifi') Wifi ($12)
    p
      label(for='dcode') Discount Code
    p
      input#dcode(type='text' name='discount')
    input.button(type='submit' name='submit' value='Calculate Price')
  div(class='total centered')
